:root {
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --primary-text-color-them-dark: #ffffff;
    --secondary-text-color-them-dark: rgba(255, 255, 255, 0.6);
    --primary-text-color-them-light: #212121;
    --secondary-text-color-them-light: #757575;
    --accent-color: #2196F3;
    --primary-background-color: #ffffff;
    --primary-logo-dark: #000000;
    --primary-logo-blue: #2196F3;
    --secondary-logo-blue: #2196F3;
    --secondary-logo-white: #ffffff;
    --primary-text-hero: #ffffff;
    --hero-background: #2F303A;
    --font-family: inherit;
    --background-open-model-btn: #188CE8;
    --background-team: #F5F4FA;
    --background-person-info: rgba(255, 255, 255, 1);
    --contact-addres-text: #ffffff;
    --contact-text-list: rgba(255, 255, 225, 0.6);
    --background-footer: #2F303A;
    --background-portfolio-title: #F5F4FA;
    --portfolio-text-title: #ffffff;
    --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}